@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  box-shadow: 0px 0px 20px 0px #00000021;
}

.card > img {
  box-shadow: 0px 5px 8px 0px #00000012;
}

.card {
  box-shadow: 0px 2px 6px 0px #0000001a;
}

.item {
  box-shadow: 0px 0px 9px 0px #0000000f;
}

.cart-container {
  scrollbar-width: none;
}

.cart-container::-webkit-scrollbar {
  display: none;
}
